@use "vars";

// variables are first defined in _custom-vars.scss
$width: vars.$width;
$height: vars.$height;
$color: vars.$color;

/* Converting a single Sass variable at a time */
.demo {
    @include vars.create($width);
    @include vars.create($height);
    @include vars.create($color);

    width: vars.use($width);
    height: vars.use($height);
    color: vars.use($color);
}

/* Converting many Sass variables at a time */
.demo-many {
    @include vars.create($width, $height, $color);
    
    width: vars.use($width);
    height: vars.use($height);
    color: vars.use($color, #222); /* custom fallback */
}